body {
  margin: 0;
  background-color: #ffffff;
  font-family: 'ProximaNova', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #1f1f1f; }

*,
*:before,
*:after {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

.img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%; }

.container {
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 15px; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0); }

.header {
  /* second row */ }
  .header__first-row__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 53px; }
  .header__city {
    text-decoration: none;
    display: inline-flex;
    align-items: center; }
    .header__city span {
      font-weight: 800;
      color: #1f1f1f;
      font-size: 14px;
      border-bottom: 1px solid #c2c2c2; }
    .header__city-icon {
      margin-right: 8px; }
    .header__city-icon__drop-down {
      margin-left: 6px; }
  .header__phone {
    text-decoration: none;
    font-weight: 800;
    color: #1f1f1f;
    font-size: 17px;
    display: inline-flex;
    align-items: center; }
    .header__phone-icon {
      margin-right: 5px; }
  .header__user {
    text-decoration: none;
    display: inline-flex;
    align-items: center; }
    .header__user span {
      font-size: 15px;
      font-weight: 800;
      color: #1f1f1f;
      border-bottom: 1px dashed #c2c2c2; }
    .header__user-icon {
      margin-right: 10px; }
  .header__cart {
    text-decoration: none;
    display: inline-flex;
    align-items: center; }
    .header__cart span {
      font-size: 15px;
      font-weight: 800;
      color: #1f1f1f;
      border-bottom: 1px dashed #c2c2c2; }
    .header__cart-icon {
      margin-right: 10px; }
    .header__cart p {
      margin-left: 15px;
      font-family: 'PT Serif';
      font-style: italic;
      font-size: 14px;
      line-height: 1.28;
      font-weight: 700;
      color: #b98348;
      position: relative; }
      .header__cart p::before {
        content: "";
        display: block;
        width: 1px;
        height: 14px;
        background-color: #b98348;
        position: absolute;
        left: -6px;
        bottom: 1px; }
  .header__second-row {
    background-color: #1f1f1f; }
  .header__second-row__inner {
    height: 57px;
    display: grid;
    grid-template-columns: 157px 1fr;
    -moz-column-gap: 92px;
         column-gap: 92px;
    align-items: center; }
  .header__nav {
    display: flex;
    justify-content: space-between; }
  .header__nav-link {
    font-size: 15px;
    line-height: 1.2;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase; }

@media (max-width: 940px) {
  .header__second-row__inner {
    padding: 20px 0;
    height: auto;
    grid-template-columns: 1fr;
    row-gap: 20px;
    text-align: center; } }

@media (max-width: 730px) {
  .header__first-row__inner {
    padding: 20px 0;
    height: auto;
    flex-wrap: wrap; }
  .header__city {
    margin-bottom: 15px;
    justify-content: center;
    width: 50%; }
  .header__phone {
    margin-bottom: 15px;
    justify-content: center;
    width: 50%; }
  .header__user {
    margin-bottom: 15px;
    justify-content: center;
    width: 50%; }
  .header__cart {
    justify-content: center;
    width: 100%; } }

@media (max-width: 640px) {
  .header__nav {
    flex-wrap: wrap; }
  .header__nav-link {
    margin-bottom: 15px;
    width: 50%; }
    .header__nav-link:last-child {
      width: 100%; } }

@media (max-width: 510px) {
  .header__second-row__inner {
    row-gap: 40px; }
  .header__nav-link {
    width: 100%; } }

.social-icons {
  max-width: 130px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2; }
  .social-icons-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    background-color: #ffffff;
    border-right: 1px solid #c2c2c2; }
    .social-icons-link:first-child {
      border-left: 1px solid #c2c2c2; }

.social__icon {
  fill: #c2c2c2; }

.footer__box .social-icons {
  border-color: #b98348; }

.footer__box .social-icons-link {
  border-color: #b98348; }

.footer__box .social__icon {
  fill: #b98348; }

@media (max-width: 730px) {
  .header .social-icons {
    width: 50%;
    margin: 0 auto 10px; } }

.intro {
  background-color: #bb6641;
  background-image: url("../img/intro-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .intro__inner {
    padding: 146px 0;
    max-width: 500px;
    text-align: center; }
  .intro__suptitle {
    font-weight: 400;
    line-height: 1.125;
    font-size: 48px;
    color: #ffffff;
    position: relative; }
    .intro__suptitle::before {
      content: "";
      display: block;
      width: 161px;
      height: 3px;
      background-color: #ffffff;
      position: absolute;
      top: -34px;
      left: 50%;
      margin-left: -80.5px; }
  .intro__title {
    font-weight: 700;
    line-height: 1.125;
    font-size: 48px;
    color: #ffffff;
    position: relative; }
    .intro__title::after {
      content: "";
      display: block;
      width: 161px;
      height: 3px;
      background-color: #ffffff;
      position: absolute;
      bottom: -34px;
      left: 50%;
      margin-left: -80.5px; }

@media (max-width: 767px) {
  .intro__title {
    font-size: 40px; }
  .intro__suptitle {
    font-size: 40px; } }

@media (max-width: 620px) {
  .intro__title {
    font-size: 30px; }
  .intro__suptitle {
    font-size: 30px; } }

.products {
  margin-bottom: 15px; }
  .products__list {
    padding-top: 34px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
    text-align: center; }
  .products__list-item {
    display: grid; }
  .products__list-link {
    padding: 15px 13px 16px;
    border: 2px solid transparent;
    text-decoration: none;
    font-size: 14px;
    font-weight: 800;
    color: #1f1f1f;
    text-transform: uppercase;
    white-space: nowrap; }
    .products__list-link:hover {
      color: #b98348;
      border-color: #b98348; }
  .products__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 8px;
         column-gap: 8px;
    row-gap: 7px; }
  .products__card {
    position: relative; }
  .products__card-content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 2; }
  .products__card-title {
    font-size: 22px;
    line-height: 1.36;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase; }
    .products__card-title--another {
      margin-bottom: 20px; }
  .products__card-subtitle {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 1.36;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Georgia', sans-serif; }
    .products__card-subtitle span {
      display: block;
      position: relative; }
      .products__card-subtitle span::before {
        content: "";
        display: block;
        width: 39px;
        height: 1px;
        background-color: #ffffff;
        position: absolute;
        left: 30%;
        top: 45%; }
      .products__card-subtitle span::after {
        content: "";
        display: block;
        width: 39px;
        height: 1px;
        background-color: #ffffff;
        position: absolute;
        right: 30%;
        top: 45%; }
  .products__card-text {
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase; }
    .products__card-text--mod {
      font-size: 12px;
      line-height: 1.5;
      font-weight: 700;
      max-width: 200px;
      margin: 0 auto; }
  .products__card-text__special {
    font-size: 20px;
    line-height: 1.1;
    color: #ffffff;
    background-color: rgba(185, 131, 72, 0.7);
    width: 80%;
    margin: 0 auto; }
  .products__card-text__another {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 700;
    color: #ffffff;
    position: relative; }
    .products__card-text__another::before {
      content: "";
      display: block;
      width: 209px;
      height: 1px;
      background-color: #ffffff;
      position: absolute;
      left: 50%;
      top: -10px;
      transform: translateX(-50%); }
    .products__card-text__another::after {
      content: "";
      display: block;
      width: 209px;
      height: 1px;
      background-color: #ffffff;
      position: absolute;
      left: 50%;
      bottom: -10px;
      transform: translateX(-50%); }
  .products__card-text__additional {
    padding: 10px 15px;
    position: absolute;
    top: 15px;
    right: -4px;
    background-color: #b98348;
    font-family: 'Georgia', sans-serif;
    font-style: italic;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.125; }
  .products__card-btn {
    padding: 10px 20px;
    max-width: 229px;
    margin: 0 auto;
    border: 2px solid #ffffff;
    background: transparent;
    font-family: ProximaNova;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer; }

@media (max-width: 1040px) {
  .products__list {
    grid-template-columns: repeat(3, 1fr); } }

@media (max-width: 840px) {
  .products {
    margin-bottom: 45px; }
    .products__cards {
      grid-template-columns: 1fr 1fr;
      -moz-column-gap: 10px;
           column-gap: 10px;
      row-gap: 9px; }
    .products__card-title {
      font-size: 18px; }
    .products__card-subtitle {
      font-size: 18px; }
    .products__card-text__special {
      font-size: 18px; }
    .products__card-btn {
      padding: 5px 10px;
      border: 2px solid #fff;
      font-size: 12px; }
    .products__card-text--mod {
      line-height: 1.1; }
    .products__card-text__additional {
      font-size: 12px;
      padding: 5px 10px; }
    .products__card-text__another {
      line-height: 1.1; } }

@media (max-width: 620px) {
  .products__cards {
    grid-template-columns: 1fr;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 10px; }
  .products__list {
    grid-template-columns: repeat(2, 1fr); } }

.order {
  background: url("../img/order-bg.jpg") no-repeat center;
  background-size: cover; }
  .order__inner {
    padding-top: 90px;
    padding-bottom: 80px;
    text-align: center;
    color: #ffffff; }
  .order__suptitle {
    font-family: 'Georgia', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase; }
  .order__title {
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase; }
  .order__subtitle {
    margin-bottom: 65px;
    font-weight: 800;
    font-size: 24px;
    text-transform: uppercase; }
  .order__text {
    margin-bottom: 25px;
    font-family: 'Georgia', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    position: relative; }
    .order__text::before {
      content: "";
      display: block;
      width: 261px;
      height: 2px;
      background-color: #ffffff;
      position: absolute;
      left: 50%;
      top: -29px;
      transform: translateX(-50%); }

@media (max-width: 767px) {
  .order__suptitle {
    font-size: 22px; }
  .order__title {
    font-size: 20px; }
  .order__subtitle {
    font-size: 20px; } }

@media (max-width: 620px) {
  .order__suptitle {
    font-size: 20px; }
  .order__title {
    font-size: 18px; }
  .order__subtitle {
    font-size: 18px; } }

.brands {
  background: #1f1f1f url("../img/brands-bg.png") no-repeat center;
  background-size: cover; }
  .brands__inner {
    height: 154px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }

@media (max-width: 840px) {
  .brands__inner {
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto; }
  .brands__link {
    margin-bottom: 10px;
    text-align: center;
    width: 50%; }
    .brands__link:last-child {
      width: 100%; } }

@media (max-width: 620px) {
  .brands__link {
    margin-bottom: 20px;
    width: 100%; } }

.app {
  padding-top: 65px;
  padding-bottom: 75px;
  background-color: #eeeeee;
  background-image: url("../img/app-bg.png");
  background-repeat: no-repeat;
  background-position: center top -211px;
  background-size: cover; }
  .app__title {
    font-weight: 600;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center; }
  .app__subtitle {
    margin-bottom: 65px;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    font-weight: 400;
    position: relative; }
    .app__subtitle::after {
      content: "";
      display: block;
      width: 166px;
      height: 2px;
      background-color: #1f1f1f;
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%); }

@media (max-width: 840px) {
  .app {
    background-position: center top -268px; } }

@media (max-width: 767px) {
  .app__title {
    font-size: 22px; }
  .app__subtitle {
    font-size: 20px; } }

@media (max-width: 620px) {
  .app__title {
    font-size: 20px; }
  .app__subtitle {
    font-size: 18px; } }

.form {
  background-color: #ffffff;
  border: 2px solid #000000; }
  .form__container {
    padding: 45px 0;
    width: 100%;
    max-width: 622px;
    margin: 0 auto; }
  .form__inner {
    display: flex;
    justify-content: space-between; }
  .form__left-col {
    width: 100%;
    max-width: 304px; }
  .form__right-col {
    width: 100%;
    max-width: 273px; }
  .form__two-items {
    margin-bottom: 28px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    -moz-column-gap: 29px;
         column-gap: 29px; }
  .form__group {
    display: flex;
    flex-direction: column;
    position: relative; }
  .form__select {
    font-family: "ProximaNova","Arial",sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.12;
    flex-grow: 1;
    height: 40px;
    border: 2px solid #000000;
    outline: 0;
    color: #b98348;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../../img/select-drop.png") no-repeat right 10px top 50%; }
    .form__select--calendar {
      padding-left: 30px; }
    .form__select--time {
      padding-left: 40px; }
    .form__select--address {
      margin-bottom: 28px;
      padding-left: 30px; }
  .form__calendar-icon {
    position: absolute;
    top: 33px;
    left: 9px; }
  .form__time-icon {
    position: absolute;
    top: 33px;
    left: 12px; }
  .form__address-icon {
    position: absolute;
    top: 33px;
    left: 13px; }
  .form__input {
    font-family: "ProximaNova","Arial",sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.12;
    flex-grow: 1;
    height: 40px;
    border: 2px solid #000000;
    outline: 0;
    padding: 0 10px 0 35px; }
    .form__input::-moz-placeholder {
      font-size: 14px;
      line-height: 1.12;
      color: #b98348; }
    .form__input:-ms-input-placeholder {
      font-size: 14px;
      line-height: 1.12;
      color: #b98348; }
    .form__input::placeholder {
      font-size: 14px;
      line-height: 1.12;
      color: #b98348; }
  .form__user-icon {
    position: absolute;
    top: 34px;
    left: 12px; }
  .form__mobile-icon {
    position: absolute;
    top: 34px;
    left: 12px; }
  .form__label {
    font-family: 'Georgia', sans-serif;
    font-style: italic;
    font-size: 13px;
    line-height: 1.4; }
  .form__btn {
    padding: 15px 0;
    display: block;
    margin-top: 34px;
    border: 0;
    border-bottom: 3px solid #8b5c28;
    cursor: pointer;
    text-decoration: none;
    background-color: #b98348;
    width: 100%;
    font-family: 'ProximaNova', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    color: #ffffff; }

@media (max-width: 840px) {
  .form {
    border: 0;
    padding: 0 20px; }
    .form__inner {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 30px; }
    .form__left-col {
      max-width: 100%; }
    .form__right-col {
      max-width: 100%; }
    .form__two-items {
      margin-bottom: 20px; }
    .form__select--address {
      margin-bottom: 20px; } }

@media (max-width: 780px) {
  .form__btn {
    padding: 10px 0;
    font-size: 15px; } }

.footer {
  background-color: #f6f6f6;
  border-top: 1px solid #ababab;
  border-bottom: 1px solid #ababab; }
  .footer__inner {
    display: grid;
    grid-template-columns: 1fr 450px 1fr; }
  .footer__box {
    padding-bottom: 60px;
    padding-top: 45px;
    padding-left: 25px;
    border-right: 1px solid #ababab; }
    .footer__box:last-child {
      border-right: 0; }
    .footer__box--second {
      padding-right: 80px;
      padding-left: 70px;
      display: flex;
      justify-content: space-between; }
    .footer__box--third {
      display: flex;
      flex-direction: column; }
  .footer__first-list a {
    font-weight: 600;
    font-size: 14px;
    line-height: 2.15;
    color: #b98348;
    text-transform: uppercase;
    text-decoration: none; }
  .footer__second-list a, .footer__third-list a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    line-height: 2;
    color: #4c4c4c;
    text-decoration: none;
    border-bottom: 1px solid #cbcbcb; }
  .footer__title {
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: #111111;
    font-weight: 700; }
  .footer__address {
    font-size: 14px;
    color: #1f1f1f; }
  .footer__tel {
    text-decoration: none;
    color: #1f1f1f;
    font-weight: 700;
    font-size: 14px; }
    .footer__tel span {
      font-weight: 400; }
  .footer__email {
    margin-bottom: 20px;
    text-decoration: none;
    color: #1f1f1f;
    font-weight: 400; }
    .footer__email span {
      font-weight: 600;
      color: #b98348;
      font-size: 14px;
      border-bottom: 1px solid #b98348; }

@media (max-width: 950px) {
  .footer__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
  .footer__box--second {
    padding-right: 25px;
    padding-left: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 30px;
         column-gap: 30px; } }

@media (max-width: 740px) {
  .footer__inner {
    padding: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px; }
  .footer__box {
    padding: 0;
    border: 0; }
    .footer__box--second {
      padding: 0; } }

@media (max-width: 410px) {
  .footer__box {
    padding: 0;
    border: 0; }
    .footer__box--second {
      -moz-column-gap: 10px;
           column-gap: 10px; }
  .footer__first-list a {
    font-size: 12px; }
  .footer__second-list a, .footer__third-list a {
    font-size: 13px; } }

.copyright {
  background-color: #eeeeee;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .copyright__text {
    color: #828181;
    font-size: 12px;
    line-height: 2.5; }
